{
    "parser": "babel-eslint",
    "extends": "airbnb",

    "ecmaFeatures": {
        "modules": true
    },

    "rules": {
        "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1 }],
        "no-param-reassign": [2, { "props": false }],
        "no-use-before-define": 0
    }
}
